@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f8f7f7;
}

.container-a {
  padding: 5px;
}

a {
  color: black;
  text-decoration: none;
}

.card {
  display: flex;
  align-items: center;
  width: 40%;
  margin: 80px auto;
  flex-direction: column;
  background-color: #e0e0e0; 
  box-shadow: 2px 2px 6px #555;
  border-radius: 10px;
  padding: 20px;
}

.logo-header {
  width: 180px;
  margin: 15px 0;
}

.success, .error {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 5px;
}

.success {
  background-color: #d4edda;
}

.error {
  background-color: #f8d7da;
}

.form-control {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.card button {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #555;
}

.list {
  width: 80%;
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bfc3c7;
  margin: 5px 0;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.item p {
  width: 80%;
}

.comprado {
  text-decoration: line-through;
  color: gray;
}

footer {
  width: 100%;
  background-color: #f5faff;
  color: #000001;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
}

.footer-logo {
  width: 70px;
  height: auto;
  margin-bottom: 5px;
}

footer p {
  font-size: 13px;
  color: #000001;
}
